# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
go-measure-things

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


# stuff from the presentation
doc/*.nav
doc/*.fls
doc/*.log
doc/*.pdf
doc/*.snm
doc/*.backup
doc/*.toc
doc/*.aux
doc/*.fdb_latexmk
doc/*.dvi

prometheus-data/data